body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.logo{
  font-family: 'Open Sans', sans-serif;
}
div.ui-datepicker{
 font-size: 13px;
}
.date-picker{
  height: 21px;
}