/*General*/
header{
  font-family: 'Open Sans', sans-serif;
  background: #22697F;
  color: white;
}
/*Index*/
#main-header{
  height: 350px;
  text-align: center;
  background: #22697F url('/images/clouds.png') no-repeat bottom;
}
#main-header.short{
  -webkit-transition: height 1s;
  transition: height 1s;
  height: 150px;
  overflow: hidden;
}
#main-header .logo{
  margin: auto;
  padding-top: 90px;
  font-size: 50px;
}
#main-header.short .logo{
  -webkit-transition: padding-top 1s;
  transition: padding-top 1s;
  padding-top: 240px;
}
#main-form{
  width: 1100px;
  margin: auto;
  margin-top: 60px;
}
#content{
  width: 1100px;
  margin: auto;
  margin-top: 50px;
}
/*Search*/
#results{
  padding-left: 10px;
}
.result{
  margin-bottom: 20px;
}
.results-header{
  font-size: 28px;
  color: #66A5B7;
  margin: 30px 0;
  padding: 20px 0;
  border-bottom: 1px solid #D2FA08;
}
/*Plugin styles*/
div.ui-datepicker{
 font-size: 13px;
}
.select2-results .select2-no-results{
  font-size: 12px;
  font-weight: bold;
  background: white;
}
.select2-container .select2-choice{
  height: 34px;
  line-height: 33px;
}