{{#link-to "search" tagName="header" href=false id="main-header"}}
  <h1 class="logo">FlightFinder</h1>
  <h3>Your reliable source for flight information.</h3>
{{/link-to}}
<form id="main-form" class="form-inline">
  {{partial "form"}}
</form>
{{partial "alert"}}
<section id="content">
  {{outlet}}
</section>