<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- Airport Dao -->
    <bean id="airportDaoJdbcImpl" class="com.nearsoft.incubator.dao.AirportDaoJdbcImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="airportDaoHibernateImpl" class="com.nearsoft.incubator.dao.AirportDaoHibernateImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- Airline Dao -->
    <bean id="airlineDaoJdbcImpl" class="com.nearsoft.incubator.dao.AirlineDaoJdbcImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="airlineDaoHibernateImpl" class="com.nearsoft.incubator.dao.AirlineDaoHibernateImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
</beans>